.dz1 {
  width: 40%;
  height: auto;
  background-image: url(../Img/jazz2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid rgb(82, 78, 78);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin: 50px auto;
  box-sizing: border-box;
  justify-items: center;
}
h2 {
    color: rgb(187, 9, 187);
    text-align: center;
    font-style: italic;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    margin-bottom: 0;
  }
  h4 {
    text-align: center;
    font-style: italic;
    color: rgb(13, 128, 143)

  }
.dz1_1 {
    width: 90%;
    height: auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 0px 1px rgb(57, 96, 99);
    padding: 2%;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 2%;
    text-align: center;
    font-style: italic;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
    color: rgb(13, 128, 143);
}